<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adaa7.server.mapper.FileMapper">
    <insert id="uploadFile">
        insert into
            file_info(user_id,file_pid,file_name,file_cover,file_path,file_md5,folder_type,file_category,file_size,create_time,last_update_time)
            values
            (#{userId},#{filePid},#{fileName},#{fileCover},#{filePath},#{fileMd5},#{folderType},#{fileCategory},#{fileSize},now(),now())
    </insert>
    <update id="fileChange">
        UPDATE file_info
        SET file_name = #{newFileName},
            last_update_time = NOW()
        WHERE file_id = #{fileId} AND user_id = #{userId}
    </update>
    <delete id="deleteDir">
        DELETE FROM file_info
        WHERE file_pid LIKE CONCAT(#{filePid}, '%')
          AND user_id = #{userId}
    </delete>
    <delete id="deleteFile">
        DELETE FROM file_info
        WHERE file_id = #{fileId}
          AND user_id = #{userId}
    </delete>

    <select id="findFile" resultType="com.adaa7.pojo.entity.File">
        select *
        from file_info
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="filePid != null">
                AND file_pid = #{filePid}
            </if>
            <if test="fileName != null">
                AND file_name = #{fileName}
            </if>
            <if test="folderType != null">
                AND folder_type = #{folderType}
            </if>
        </where>
    </select>
    <select id="findMd5" resultType="com.adaa7.pojo.entity.File">
        select *
        from file_info
        where file_md5=#{fileMd5} and folder_type=0 limit 1;
    </select>
    <select id="findFileById" resultType="com.adaa7.pojo.entity.File">
        select *
        from file_info
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="fileId != null">
                AND file_id = #{fileId}
            </if>
        </where>
    </select>
    <select id="findDir" resultType="com.adaa7.pojo.entity.File">
        select *
        from file_info
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="filePid != null">
                AND file_pid = #{filePid}
            </if>
            <if test="fileId != null">
                AND file_id = #{fileId}
            </if>
            <if test="folderType != null">
                AND folder_type = #{folderType}
            </if>
        </where>
    </select>
    <select id="page" resultType="com.adaa7.pojo.entity.File">
        SELECT * FROM file_info
        WHERE user_id = #{userId} AND file_pid = #{filePid}
        ORDER BY folder_type DESC, last_update_time DESC
            LIMIT #{page}, #{pageSize}
    </select>
    <select id="pageTotal" resultType="java.lang.Long">
        SELECT COUNT(*) FROM file_info
        WHERE user_id = #{userId} AND file_pid = #{filePid}
    </select>
    <select id="pageImage" resultType="com.adaa7.pojo.entity.File">
        SELECT * FROM file_info
        WHERE user_id = #{userId} AND file_category = 3
        ORDER BY folder_type DESC, last_update_time DESC
            LIMIT #{page}, #{pageSize}
    </select>
    <select id="pageVideo" resultType="com.adaa7.pojo.entity.File">
        SELECT * FROM file_info
        WHERE user_id = #{userId} AND file_category = 1
        ORDER BY folder_type DESC, last_update_time DESC
            LIMIT #{page}, #{pageSize}
    </select>
    <select id="pageAudio" resultType="com.adaa7.pojo.entity.File">
        SELECT * FROM file_info
        WHERE user_id = #{userId} AND file_category = 2
        ORDER BY folder_type DESC, last_update_time DESC
            LIMIT #{page}, #{pageSize}
    </select>
</mapper>